Options -Indexes
## Errores personalizados
	 
	# Error 400
	ErrorDocument 400 https://curp.michoacan.gob.mx/SIRCivil/
	 
	# Error 401
	ErrorDocument 401 https://curp.michoacan.gob.mx/SIRCivil/
	 
	# Error 403
	ErrorDocument 403 https://curp.michoacan.gob.mx/SIRCivil/
	 
	# Error 404
	ErrorDocument 404 https://curp.michoacan.gob.mx/SIRCivil/
	 
	# Error 500
	ErrorDocument 500 https://curp.michoacan.gob.mx/SIRCivil/


# Activando SSL
	 
	AddType text/html .html
	AddType text/html .shtml
	AddHandler server-parsed .html
	AddHandler server-parsed .shtml